---

# The workflow will generate the SBOM file for the repository
# and vulnerability scan report for the SBOM file using CycloneDX
# The workflow will run on push to main branch and manually triggered workflows
# The results will be stored in the action artifacts

name: 'CDXGen'
on:
  workflow_dispatch:
    inputs:
      generate_cdx_report:
        description: "Generate CycloneDX report"
        required: false
        default: false
        type: boolean
  push:
    branches:
      - 'main'

jobs:
  cdxgen:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: "cdxgen"
        uses: netcracker/qubership-workflow-hub/actions/cdxgen@ad7ed53caff0d6e09b4a1835cd903b03264ffbd5 # main
        with:
          generate_cdx_report: ${{ github.event.inputs.generate_cdx_report }}
  deploy-pages:
    if: ${{ github.event.inputs.generate_cdx_report }}
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: cdxgen
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
      - name: "Summary"
        run: |
          echo "${{ steps.deployment.outputs.page_url }}cyclondx-report" >> $GITHUB_STEP_SUMMARY