name: Publish @netcracker/action-logger to GitHub Packages

on:
  workflow_dispatch: {}

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  publish:
    name: Publish package
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: packages/action-logger

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20
          registry-url: "https://npm.pkg.github.com"
          scope: "@netcracker"

      - name: Install dependencies
        run: npm ci

      - name: Publish @netcracker/action-logger
        run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
