name: "[REUSABLE] GitHub Release Drafter"

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
        description: "Release version"
      ref:
        description: "Branch name to create release from"
        required: false
        type: string
        default: main
      publish:
        description: "Enable publish release?"
        required: false
        default: "false"
        type: string
      config-name:
        description: "Release Drafter configuration file"
        required: false
        default: "release-drafter-config.yml"
        type: string
      tag:
        description: "The tag name to be associated with the GitHub release"
        required: false
        type: string
      latest:
        description: "Mark release as latest"
        required: false
        type: string
        default: "true"

jobs:
  draft-release:
    runs-on: ubuntu-latest
    steps:
      - name: Input parameters
        run: |
          {
            echo "Release version: ${{ inputs.version }}"
            echo "Tag: ${{ inputs.tag || format('v{0}', inputs.version) }}"
            echo "Enable publish release: ${{ inputs.publish }}"
           } >> $GITHUB_STEP_SUMMARY

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
          ref: ${{ inputs.ref ||  github.ref_name }}

      - name: Run Release Drafter
        uses: netcracker/release-drafter@86f4276a3894b5af70480e826c32fe3648ac6a70 # v1.0.0
        with:
          config-name: ${{ inputs.config-name }}
          publish: ${{ inputs.publish }}
          name: ${{ env.RELEASE_VERSION }}
          tag: ${{ inputs.tag || format('v{0}', inputs.version) }}
          version: v${{ env.RELEASE_VERSION }}
          latest: ${{ inputs.latest == 'true' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RELEASE_VERSION: ${{ inputs.version }}
